<app-modal [typeOfForm]="'login'" [isActiveSpinner]="isFetching()">
  <form [formGroup]="form" (ngSubmit)="onLogin()" name="login" class="form">
    <div class="form__input-wrapper">
      <label for="email" class="form__label">Email</label>
      <input
        formControlName="email"
        type="email"
        name="email"
        id="email"
        class="form__input"
      />
      @if(form.controls.email.invalid && form.controls.email.touched ){
      @if(form.controls.email.errors?.['required']){
      <p class="input-error">Будь ласка введіть свій email</p>
      }@else {
      <p class="input-error">Введіть коректний email</p>
      } }
    </div>
    <div class="form__input-wrapper">
      <label for="password" class="form__label">Пароль</label>
      <div class="form__password-wrapper">
        @if(isShowedPassword()){
        <button
          type="button"
          (click)="onHidePassword()"
          class="button icon-showed-eye"
        ></button>
        }@else {
        <button
          type="button"
          (click)="onShowPassword()"
          class="button icon-hide-eye"
        ></button>
        }

        <input
          formControlName="password"
          name="password"
          id="password"
          [type]="isShowedPassword() ? 'text' : 'password'"
          class="form__input"
        />
      </div>
      @if(form.controls.password.invalid && form.controls.password.touched ){
      @if(form.controls.password.errors?.['required']){
      <p class="input-error">Будь ласка введіть свій пароль</p>
      }@else if(form.controls.password.errors?.['minlength']) {
      <p class="input-error">Пароль повинен містити мінімум 8 символів</p>
      }@else if(form.controls.password.errors?.['pattern']){
      <p class="input-error">
        Пароль повинен містити щонайменше одну велику літеру та одну цифру
      </p>
      } }
    </div>
    <div class="form__main-button-wrapper">
      <button [disabled]="form.invalid" type="submit" class="form__button">
        Вхід
      </button>

      <button type="button" class="form__remember-password">
        Нагадати пароль
      </button>
      @if(errorMessage()){
      <p class="input-error">{{ errorMessage() }}</p>
      }
    </div>
  </form>
</app-modal>
