@function rem($px) {
  @return calc($px * 0.063rem);
}

:host {
  min-height: 100%;
  flex-grow: 1;
}

.home {
  position: relative;

  &__bg-image {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100vw;

    @media (max-width: 660px) {
      // width: auto;
      height: rem(272);
    }
  }

  &__title {
    font-size: 40px;
    line-height: 100%;
    font-weight: 600;
    font-family: Montserrat;
    color: #fffbf4;

    @media (max-width: 745px) {
      font-size: rem(16);
    }
  }

  &__text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fffbf4;
    padding-top: 8px;
    padding-bottom: 24px;

    @media (max-width: 745px) {
      font-size: rem(12);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: rem(340);
    left: rem(240);
    width: rem(484);
    height: rem(206);

    @media (max-width: 1300px) {
      top: rem(216);
      left: rem(10);
      margin-left: 0;
    }

    @media (max-width: 1100px) {
      top: rem(150);
    }

    @media (max-width: 745px) {
      width: rem(198);
      height: rem(122);
      left: rem(20);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #131313;
    padding: rem(16) 0;

    &__body {
      display: flex;
      flex-direction: column;
      gap: rem(8);
    }

    &__text {
      width: rem(145);
      padding: rem(4) rem(8);
      border: 1px solid #ff9a00;
      border-radius: 4px;
      font-family: Montserrat;
      font-weight: 500;
      font-size: rem(14);
      line-height: 100%;
      letter-spacing: 0%;
      color: #ff9a00;

      @media (max-width: 745px) {
        font-size: rem(12);
      }
    }

    &__title {
      font-family: Montserrat;
      font-weight: 500;
      font-style: Medium;
      font-size: rem(24);
      line-height: 100%;
      letter-spacing: 0%;
      color: #fffbf4;
      @media (max-width: 745px) {
        font-size: rem(10);
      }
    }
  }
}

.btn {
  width: rem(253);
  height: rem(77);
  background: #fffbf4;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: rem(24);
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 4px;

  &__actions {
    transition-duration: 400ms;
    &:hover {
      background: #ff9a00;
      color: #fffbf4;
    }

    &:active {
      background: #e88c00;
      color: #fffbf4;
    }
  }

  @media (max-width: 745px) {
    width: rem(125);
    height: rem(38);
    font-size: rem(12);
  }

  &__home__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(56);
    height: rem(40);
    border: 1px solid #ff9a00;
    border-radius: 4px;
    color: #ff9a00;

    @media (max-width: 745px) {
      width: rem(25);
      height: rem(18);
    }
  }
}
.action__container {
  max-width: 81.25rem;
  margin: 0 auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.footer__wrapper {
  width: 100wv;
  background: #131313;
}
