@use "../../styles/utils/rem";
@use "../../styles/global/colors" as c;

:host {
  min-height: 100%;
  flex-grow: 1;
}

.home {
  position: relative;

  &__bg-image {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100vw;

    @media (max-width: rem.em(660)) {
      // width: auto;
      height: rem.rem(272);
    }
  }

  &__title {
    font-size: rem.rem(40);
    line-height: 100%;
    font-weight: 600;
    font-family: Montserrat;
    color: c.$white-500;

    @media (max-width: rem.em(745)) {
      font-size: rem.rem(16);
    }
  }

  &__text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: rem.rem(20);
    line-height: 100%;
    letter-spacing: 0%;
    color: c.$white-500;
    padding-top: rem.rem(8);
    padding-bottom: rem.rem(24);

    @media (max-width: rem.em(745)) {
      font-size: rem.rem(12);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: rem.rem(340);
    left: rem.rem(240);
    width: rem.rem(484);
    height: rem.rem(206);

    @media (max-width: rem.em(1300)) {
      top: rem.rem(216);
      left: rem.rem(10);
      margin-left: 0;
    }

    @media (max-width: rem.em(1100)) {
      top: rem.rem(150);
    }

    @media (max-width: rem.em(745)) {
      width: rem.rem(198);
      height: rem.rem(122);
      left: rem.rem(20);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: c.$black-500;
    padding: rem.rem(16) 0;

    &__body {
      display: flex;
      flex-direction: column;
      gap: rem.rem(8);
    }

    &__text {
      width: rem.rem(145);
      padding: rem.rem(4) rem.rem(8);
      border: 1px solid c.$accent-500;
      border-radius: 4px;
      font-family: Montserrat;
      font-weight: 500;
      font-size: rem.rem(14);
      line-height: 100%;
      letter-spacing: 0%;
      color: c.$accent-500;

      @media (max-width: rem.em(745)) {
        font-size: rem.rem(12);
      }
    }

    &__title {
      font-family: Montserrat;
      font-weight: 500;
      font-style: Medium;
      font-size: rem.rem(24);
      line-height: 100%;
      letter-spacing: 0%;
      color: c.$white-500;
      @media (max-width: rem.em(745)) {
        font-size: rem.rem(10);
      }
    }
  }
}

.btn {
  width: rem.rem(253);
  height: rem.rem(77);
  background: c.$white-500;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: rem.rem(24);
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 4px;

  &__actions {
    transition-duration: 400ms;
    &:hover {
      background: c.$accent-500;
      color: c.$white-500;
    }

    &:active {
      background: c.$accent-600;
      color: c.$white-500;
    }
  }

  @media (max-width: rem.em(745)) {
    width: rem.rem(125);
    height: rem.rem(38);
    font-size: rem.rem(12);
  }

  @media (max-width: rem.em(745)) {
    width: rem.rem(125);
    height: rem.rem(38);
    font-size: rem.rem(12);
  }

  @media (max-width: rem.em(900)) {
    width: rem.rem(153);
    height: rem.rem(57);
    font-size: rem.rem(18);
  }

  &__home__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem.rem(56);
    height: rem.rem(40);
    border: 1px solid c.$accent-500;
    border-radius: 4px;
    color: c.$accent-500;

    @media (max-width: rem.em(745)) {
      width: rem.rem(25);
      height: rem.rem(18);
    }
  }
}
.action__container {
  max-width: 81.25rem;
  margin: 0 auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.footer__wrapper {
  width: 100wv;
  background: c.$black-500;
}
