@use "../../../styles/global/colors" as c;
@use "../../../styles/utils/rem";

.age {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -55%;
  width: rem.rem(844);
  height: rem.rem(470);
  background: c.$black-500;

  @media (max-width: rem.em(870)) {
    scale: 0.7;
  }
  @media (max-width: rem.em(620)) {
    scale: 0.5;
  }
  @media (max-width: rem.em(440)) {
    scale: 0.4;
  }

  &__wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 5.9rem;
    width: 100vw;
    height: 100vh;
    background: #ff9a0033;
  }

  &__text {
    text-align: center;
    font-family: Montserrat;
    font-size: rem.rem(40);
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;

    color: c.$white-500;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 17px;
    padding-top: rem.rem(40);
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 166px;

  img {
    width: 313px;
    height: 89px;
  }
}

.btn {
  font-size: rem.rem(16);
  font-weight: 600;
  padding: 18px 72px;
  background: c.$white-500;
  border-radius: 4px;
  transition: 400ms ease-out;

  &:hover {
    background: c.$accent-500;
    color: c.$white-500;
  }

  &:active {
    background: c.$accent-600;
    color: c.$white-500;
  }
}
