.age {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -45% -50%;
  width: 844px;
  height: 470px;
  background: #131313;

  &__wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 5.9rem;
    width: 100vw;
    height: 100vh;
    background: #ff9a0033;
  }

  &__text {
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;

    color: #fffbf4;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 17px;
    padding-top: 40px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 166px;

  img {
    width: 313px;
    height: 89px;
  }
}

.btn {
  padding: 18px 72px;
  background: #fffbf4;
  border-radius: 4px;
  transition-duration: 400ms;
  &:hover {
    background: #ff9a00;
    color: #fffbf4;
  }

  &:active {
    background: #e88c00;
    color: #fffbf4;
  }
}
