@use "../../../styles/global/colors" as c;

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 193px;
  max-height: 42px;
  border: 1px solid c.$black-50;
  border-radius: 4px;
  padding: 12px 10px;
  cursor: pointer;

  &:hover {
    border-color: c.$accent-500;
  }

  &__active {
    border-color: c.$accent-600;
  }

  &__content {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

    color: c.$black-100;
  }

  &__icon {
    width: 20px;
    height: 18px;
  }
}

.disabled {
  border-color: c.$black-100;
  background: c.$black-100;
  color: c.$white-500;
  cursor: auto;

  &:hover {
    @extend .disabled;
  }
}
