@use "../../../styles/global/colors" as c;
@use "../../../styles/utils/rem";

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // max-width: rem.rem(193);
  max-height: rem.rem(42);
  border: 1px solid c.$black-50;
  border-radius: 4px;
  padding: rem.rem(12) rem.rem(10);
  cursor: pointer;

  &:hover {
    border-color: c.$accent-500;
    color: c.$accent-500;
  }

  &__active {
    border-color: c.$accent-600;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem.rem(6);
    font-family: Montserrat;
    font-weight: 500;
    font-size: rem.rem(14);
    line-height: 100%;
    letter-spacing: 0%;
  }

  &__icon {
    width: rem.rem(20);
    height: rem.rem(18);
    display: flex;
    align-items: center;
  }
}

.disabled {
  border-color: c.$black-100;
  background: c.$black-100;
  color: c.$white-500;
  cursor: not-allowed;

  &:hover {
    @extend .disabled;
  }
}
