@use "../../../styles/global/colors" as c;
@use "../../../styles/utils/rem";

h2 {
  font-family: Montserrat;
  line-height: 100%;
  font-weight: 500;
}
.page-1 {
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    // padding-bottom: rem(72);
  }

  &__actions {
    display: flex;
    gap: 10px;
    min-width: rem.rem(58);
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 24px;
    padding-bottom: rem.rem(72);
    padding-top: rem.rem(40);
  }

  &__spinner {
    position: relative;
    max-width: rem.rem(1400);
    max-height: rem.rem(500);
  }

  &__spinner {
    position: relative;
    max-width: 1400px;
    max-height: 500px;
  }
}

.products {
  &__week {
    padding-top: rem.rem(40);
  }
}

.icon {
  &__arrow__disabled {
    color: c.$black-50;
  }
}
