@use "sass:math";

@function rem($px) {
  @return calc($px * 0.063rem);
}

@function em($px) {
  @return math.div($px, 16) + em;
}

h2 {
  font-family: Montserrat;
  font-size: 2rem;
  line-height: 100%;
  font-weight: 500;
}
.page-1 {
  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    // padding-bottom: rem(72);
  }

  &__actions {
    display: flex;
    gap: 10px;
    min-width: rem(58);
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 24px;
    padding-bottom: rem(72);
    padding-top: rem(40);
  }
}

.products {
  &__week {
    padding-top: rem(40);
  }
}

.icon {
  &__arrow__disabled {
    color: #b3b3b2;
  }
}
