.cart {
  &__empty-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(41, 41, 41);
  }

  &__image {
    width: 182px;
    margin-bottom: 2rem;
    & img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1rem;
    font-weight: 600;

    letter-spacing: 0;
  }
}
