@for (item of cartStore.items(); track item.itemId) {
<app-cart-item [itemData]="item"></app-cart-item>
}
<div class="cart-content__actions">
  <div></div>
  <p class="cart-content__amount">
    Сума замовлення {{ cartStore.totalPrice() | updatePrice }}
  </p>
  <button
    (click)="continueShopping()"
    type="button"
    class="cart-content__continue-shopping-btn"
  >
    Продовжити покупки
  </button>
  <button
    (click)="makeOrder()"
    type="button"
    class="cart-content__make-order-btn"
  >
    Оформити замовлення
  </button>
</div>
