<div class="main__row">
  <nav class="main__menu menu">
    <a
      routerLinkActive="active"
      routerLink="/shop/all-products"
      class="menu__link"
      [queryParams]="{ page: currentPage(), sort_by: currentTypeOfSorting() }"
      >Всі товари</a
    >
    <a
      routerLinkActive="active"
      [queryParams]="{ page: currentPage(), sort_by: currentTypeOfSorting() }"
      routerLink="/shop/beers"
      class="menu__link"
      >Пиво</a
    >
    <a
      routerLinkActive="active"
      [queryParams]="{ page: currentPage(), sort_by: currentTypeOfSorting() }"
      routerLink="/shop/ciders"
      class="menu__link"
      >Сидр</a
    >
    <a
      routerLinkActive="active"
      [queryParams]="{ page: currentPage(), sort_by: currentTypeOfSorting() }"
      routerLink="/shop/snacks"
      class="menu__link"
      >Снеки</a
    >
  </nav>

  <div class="main__sort-by">
    <app-sorting
      [name]="'sorting'"
      [disabled]="currentTypeOfProduct()"
      [selectOptions]="selectOptions()"
      (sortBy)="onChangeType($event)"
    />
  </div>
</div>
