<div class="header__container">
  <div class="header__logo-container">
    <a routerLink="/home">
      <img src="./header-logo.png" alt="Brand name logo" class="header__logo"
    /></a>
  </div>
  <nav class="header__menu menu">
    <a routerLinkActive="active" routerLink="#" class="menu__link"
      >Про броварню</a
    >
    <a routerLinkActive="active" routerLink="/shop" class="menu__link"
      >Магазин</a
    >
    <a routerLinkActive="active" routerLink="#" class="menu__link"
      >Доставка і оплата</a
    >
  </nav>
  @if(isShowedInput()){
  <div class="header__input-wrapper">
    <input
      (blur)="onShowInput(false)"
      appAutoFocus
      #input
      type="text"
      name="search"
      placeholder="Пошук"
      class="header__input"
    />
    <span class="icon input-icon icon-search"></span>
  </div>
  }
  <div class="header__actions">
    @if(!isShowedInput()){
    <button
      (click)="onShowInput(true)"
      type="button"
      class="header__actions-link button"
    >
      <span class="icon icon-search"></span>
    </button>
    }
    <!-- @if(isAuth$ | async){ -->
    <a routerLink="/favorite" class="header__actions-link"
      ><span class="header__icon icon icon-heart"></span
    ></a>
    @let state = isAuth$|async;

    <a
      (click)="checkUserPermission(state ?? false)"
      class="header__actions-link"
      [class.active]="state"
      ><span class="header__icon icon icon-user"></span
    ></a>
    <!-- } -->
    <!-- @else {
    <span class="header__icon disable icon icon-heart"></span>
    <span (click)="onOpenModal()"  class="header__icon icon icon-user"></span>
    } -->

    <a routerLink="cart" class="header__actions-link"
      ><span class="header__icon icon icon-shopping-cart"></span
    ></a>
  </div>
</div>
