<div class="header__container">
  <a routerLink="/home">
    <img src="./header-logo.png" alt="Brand name logo" class="header__logo"
  /></a>

  <div class="header__menu menu">
    <button class="menu__icon"></button>
    <nav class="menu__body">
      <ul class="menu__list">
        <li class="menu__item">
          <a routerLinkActive="active" routerLink="#" class="menu__link"
            >Про броварню</a
          >
        </li>
        <li class="menu__item">
          <a routerLinkActive="active" routerLink="/shop" class="menu__link"
            >Магазин</a
          >
        </li>
        <li class="menu__item">
          <a routerLinkActive="active" routerLink="#" class="menu__link"
            >Доставка і оплата</a
          >
        </li>
      </ul>
    </nav>
  </div>
  @if(isShowedInput()){
  <div class="header__input-wrapper">
    <input
      (blur)="onShowInput(false)"
      appAutoFocus
      #input
      type="text"
      name="search"
      placeholder="Пошук"
      class="header__input"
    />

    <span class="icon input-icon icon-search"></span>
  </div>
  }

  <div class="header__actions">
    @if(!isShowedInput()){
    <button
      (click)="onShowInput(true)"
      type="button"
      class="header__actions-link button"
    >
      <span class="icon icon-search"></span>
    </button>
    }

    <a href="#" class="header__actions-link"
      ><span class="header__icon icon icon-heart"></span
    ></a>
    <a href="#" class="header__actions-link"
      ><span class="header__icon icon icon-user"></span
    ></a>
    <a href="#" class="header__actions-link"
      ><span class="header__icon icon icon-shopping-cart"></span
    ></a>
  </div>
</div>
