$accent-500: #ff9a00;
$accent-600: #e88c00;
$black-500: #131313;
$black-100: #696969;
$black-50: #b3b3b2;
$black-40: #e8e8e8;
$black-30: #f4f4f4;
$white-500: #fffbf4;
$white-50: #fafafa;
$white: #ffffff;
$grey-500: #292929;
$grey-100: #444444;
$grey-50: #858585;
$bg-grey: #eef0f0;
$green: #1fbe54;
$red: #e60f0f;
$text-accent: #0080ff;
$warrning: #e88d80;
$stripe: #635aff;
$bg-button-grey: #363636;
