@use "../utils/rem";

$font-family-primary: "Montserrat", sans-serif;

@mixin title-style($weight, $size, $line-height: auto) {
  font-family: $font-family-primary;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;

h1,
.h1 {
  @include title-style($font-semibold, rem.rem(40));
}

h2,
.h2 {
  @include title-style($font-medium, rem.rem(32));
}

h3,
.h3 {
  @include title-style($font-medium, rem.rem(24));
}

h4,
.h4 {
  &.regular {
    @include title-style($font-regular, rem.rem(20));
  }
  &.semibold {
    @include title-style($font-semibold, rem.rem(20));
  }
  &.medium {
    @include title-style($font-medium, rem.rem(20));
  }

  @include title-style($font-medium, rem.rem(20));
}

h5,
.h5 {
  @include title-style($font-semibold, rem.rem(16));
}

h6,
.h6 {
  @include title-style($font-medium, rem.rem(14));
}
