.age {
  width: 844px;
  height: 470px;
  background: #131313;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #ff9a0033;
  }
}
