<div class="main__container">
  <app-breadcrumb
    position="left"
    [breadCrumb]="{linksList: [{title:'Khmilna Oaza',linkPath:'/home'}],
  currentPathName: 'Магазин',}"
  />
  <app-navigation />

  <div class="product-list__body">
    @if(productData()){ @for (product of productData()!.content; track
    product.id) {
    <app-product-card
      
      [inputData]="product"
    ></app-product-card>
    } } @if(catalogDataStore.loading()){
    <app-spinner></app-spinner>
    }
  </div>

  @if(availablePages() >1){
  <app-pagination [availablePages]="availablePages()" />
  }
</div>
