@use "../../../styles/global/colors" as c;
@use "../../../styles/utils/rem";

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.h2 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: rem.rem(32);
  line-height: 100%;
  letter-spacing: 0%;
  color: c.$black-500;
}

.h3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: rem.rem(24);
  line-height: 100%;
  letter-spacing: 0%;
  color: c.$black-500;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem.rem(30);
  height: rem.rem(30);
  border: 1px solid c.$accent-500;
  border-radius: 50%;
  font-family: Montserrat;
  font-weight: 500;
  font-size: rem.rem(12);
  line-height: 100%;
  letter-spacing: 0%;
  color: c.$black-100;

  &__active {
    @extend .circle;

    background: c.$accent-500;
    color: c.$white;
  }
}

.arrow-right {
  width: rem.rem(8);
  height: rem.rem(8);
  border-bottom: 2px solid c.$black-500;
  border-right: 2px solid c.$black-500;
  transform: rotate(-45deg);
  margin-right: rem.rem(10);
}

.text {
  padding-left: rem.rem(4);
  font-family: Montserrat;
  font-weight: 500;
  font-size: rem.rem(12);
  line-height: 100%;
  letter-spacing: 0%;
  color: c.$grey-500;
}

.progress {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: rem.rem(40);
  gap: rem.rem(4);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem.rem(210);
  height: rem.rem(48);
  border: 0.5px solid c.$grey-500;
  border-radius: 4px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: rem.rem(16);
  line-height: 100%;
  letter-spacing: 0%;

  &__bg__black {
    background: c.$grey-500;
    color: c.$white;
    margin-left: rem.rem(189);
  }

  &__space {
    margin-left: rem.rem(399);
  }

  &__bg__white {
    color: c.$grey-500;
  }

  &:hover {
    border: 0.5px solid c.$accent-600;
    color: c.$accent-600;
  }

  cursor: pointer;
}

.delivery__actions {
  display: flex;
  flex-wrap: nowrap;
}
