<div class="card__wrapper">
  @if (isLoading()) {
  <div class="spinner">
    <app-spinner />
  </div>
  }
  <div class="card__header">
    <div class="card__image">
      <img class="card__image__item" [src]="imageUrl" alt="" />
    </div>
    <h3 class="card__title">
      {{ itemData().itemTitle }}
      {{ measureValue | updateMeasure : itemData().itemType }}
    </h3>
  </div>
  <div class="card__counter">
    <div
      class="icon-remove-minus card__icon"
      [class.disabled]="isDisabled()"
      (click)="decrease(itemData())"
    ></div>
    <div class="card__counter__quantity">
      <input
        class="card__input"
        type="text"
        [(ngModel)]="amount"
        (ngModelChange)="onQuantityChange(itemData(), amount)"
      />
    </div>
    <div class="icon-add-plus card__icon" (click)="increase(itemData())"></div>
  </div>
  <p class="card__price">{{ itemData().pricePerItem }} грн/од.</p>
  <p class="card__price">{{ itemData().pricePerItem * quantity }} грн</p>
  <button
    class="card__delete-button"
    type="button"
    (click)="removeFromCart(itemData())"
  >
    <span class="icon-trash-full"></span>
  </button>
</div>
