<div class="delivery-type">
  <div class="delivery-type__items" (click)="onClick()">
    <h6 class="h6">{{ deliveryTypeTitle() }}</h6>
    <div class="delivery-type__price">
      <h5 class="h5">{{ deliveryTypePrice() }}</h5>
      <p [class]="icon()"></p>
    </div>
  </div>
  @if (isOpened()) {
    @if (deliveryTypeTitle() === "Нова пошта") {
      <div class="delivery-type__select">
        <div class="input__radio">
          <label class="radio__label">
            <input
              class="radio__input"
              type="radio"
              name="deliveryType"
              id="POST_OFFICE"
              (input)="setDeliveryType($event)"
              checked
            />
            <h6 class="h6">Відділення</h6>
          </label>
        </div>
        <div class="input__radio">
          <label class="radio__label">
            <input
              class="radio__input"
              type="radio"
              name="deliveryType"
              id="PARCEL_TERMINAL"
              (input)="setDeliveryType($event)"
            />
            <h6 class="h6">Поштомат</h6>
          </label>
        </div>
        <div class="input__radio">
          <label class="radio__label">
            <input
              class="radio__input"
              type="radio"
              name="deliveryType"
              id="COURIER"
              (input)="setDeliveryType($event)"
            />
            <h6 class="h6">Курʼєр</h6>
          </label>
        </div>
      </div>
    }
    @if (
      getDeliveryType() === "POST_OFFICE" ||
      getDeliveryType() === "PARCEL_TERMINAL"
    ) {
      <div class="delivery-type__input-items">
        <div class="delivery-type__input-item">
          <app-input>Виберіть місто<span class="asterix">*</span> </app-input>
        </div>
        <div class="delivery-type__input-item">
          <app-input
            >Виберіть
            {{ getDeliveryType() === "POST_OFFICE" ? "відділення" : "поштомат"
            }}<span class="asterix">*</span>
          </app-input>
        </div>
      </div>
    } @else if (
      deliveryTypeTitle() === "Укрпошта" || getDeliveryType() === "COURIER"
    ) {
      <div class="delivery-type__input-items">
        <div class="delivery-type__input-item">
          <app-input>Виберіть місто<span class="asterix">*</span> </app-input>
        </div>
        <div class="delivery-type__input-item">
          <app-input>Виберіть вулицю<span class="asterix">*</span> </app-input>
        </div>
        <div class="delivery-type__input-item">
          <app-input>Номер будинку<span class="asterix">*</span> </app-input>
        </div>
        <div class="delivery-type__input-item">
          <app-input>Номер квартири </app-input>
        </div>
      </div>
    }
  }
</div>
