<div class="delivery-type">
  <div class="delivery-type__items" (click)="onClick()">
    <h6 class="h6">{{ deliveryTypeTitle() }}</h6>
    <div class="delivery-type__price">
      <h5 class="h5">{{ deliveryTypePrice() }}</h5>
      <p [class]="icon()"></p>
    </div>
  </div>
  @if (isOpened()) {
    @if (deliveryTypeTitle() === "Нова пошта") {
      <div class="delivery-type__select">
        <div class="input__radio">
          <label class="radio__label">
            <input
              class="radio__input"
              type="radio"
              name="deliveryType"
              id="POST_OFFICE"
              (input)="setDeliveryType($event)"
              [checked]="getDeliveryType() === 'POST_OFFICE'"
            />
            <h6 class="h6">Відділення</h6>
          </label>
        </div>
        <div class="input__radio">
          <label class="radio__label">
            <input
              class="radio__input"
              type="radio"
              name="deliveryType"
              id="PARCEL_TERMINAL"
              (input)="setDeliveryType($event)"
              [checked]="getDeliveryType() === 'PARCEL_TERMINAL'"
            />
            <h6 class="h6">Поштомат</h6>
          </label>
        </div>
        <div class="input__radio">
          <label class="radio__label">
            <input
              class="radio__input"
              type="radio"
              name="deliveryType"
              id="COURIER"
              (input)="setDeliveryType($event)"
              [checked]="getDeliveryType() === 'COURIER'"
            />
            <h6 class="h6">Курʼєр</h6>
          </label>
        </div>
      </div>
    }
    <ng-container [formGroup]="deliveryTypeForm()">
      @if (
        (getDeliveryType() === "POST_OFFICE" ||
          getDeliveryType() === "PARCEL_TERMINAL") &&
        deliveryTypeTitle() !== "Укрпошта"
      ) {
        <div class="delivery-type__input-items">
          <div class="delivery-type__input-item">
            <app-input formControlName="city"
              >Виберіть місто<span class="asterix">*</span>
            </app-input>
            @if (
              getControl("city")?.invalid &&
              (getControl("city")?.touched || getControl("city")?.dirty)
            ) {
              @if (getControl("city")?.errors?.["required"]) {
                <div class="item__error">
                  <span> Впишіть місто</span>
                </div>
              }
              @if (getControl("city")?.errors?.["customError"]) {
                <div class="item__error">
                  <span>
                    Місто може містити не менше 3-х літер украінського алфавіту
                  </span>
                </div>
              }
            }
          </div>
          <div class="delivery-type__input-item">
            <app-input formControlName="postCode"
              >Виберіть
              {{
                getDeliveryType() === "POST_OFFICE" ? "відділення" : "поштомат"
              }}<span class="asterix">*</span>
            </app-input>
            @if (
              getControl("postCode")?.invalid &&
              (getControl("postCode")?.touched || getControl("postCode")?.dirty)
            ) {
              @if (getControl("postCode")?.errors?.["required"]) {
                <div class="item__error">
                  <span> Не може бути пустим</span>
                </div>
              }
              @if (getControl("postCode")?.errors?.["customError"]) {
                <div class="item__error">
                  <span> Має містити 5 цифр </span>
                </div>
              }
            }
          </div>
        </div>
      }
      @if (
        deliveryTypeTitle() === "Укрпошта" || getDeliveryType() === "COURIER"
      ) {
        <div class="delivery-type__input-items">
          <div class="delivery-type__input-item">
            <app-input formControlName="city"
              >Виберіть місто<span class="asterix">*</span>
            </app-input>
            @if (
              getControl("city")?.invalid &&
              (getControl("city")?.touched || getControl("city")?.dirty)
            ) {
              @if (getControl("city")?.errors?.["required"]) {
                <div class="item__error">
                  <span> Не може бути пустим</span>
                </div>
              }
              @if (getControl("city")?.errors?.["customError"]) {
                <div class="item__error">
                  <span>
                    Має містити не менше 3-х літер украінського алфавіту
                  </span>
                </div>
              }
            }
          </div>
          <div class="delivery-type__input-item">
            <app-input formControlName="street"
              >Виберіть вулицю<span class="asterix">*</span>
            </app-input>
            @if (
              getControl("street")?.invalid &&
              (getControl("street")?.touched || getControl("street")?.dirty)
            ) {
              @if (getControl("street")?.errors?.["required"]) {
                <div class="item__error">
                  <span> Не може бути пустим</span>
                </div>
              }
              @if (getControl("street")?.errors?.["customError"]) {
                <div class="item__error">
                  <span>
                    Має містити не менше 3-х літер украінського алфавіту
                  </span>
                </div>
              }
            }
          </div>
          <div class="delivery-type__input-item">
            <app-input formControlName="building"
              >Номер будинку<span class="asterix">*</span>
            </app-input>
            @if (
              getControl("building")?.invalid &&
              (getControl("building")?.touched || getControl("building")?.dirty)
            ) {
              @if (getControl("building")?.errors?.["required"]) {
                <div class="item__error">
                  <span> Не може бути пустим</span>
                </div>
              }
              @if (getControl("building")?.errors?.["customError"]) {
                <div class="item__error">
                  <span>
                    Має містити цифру або цифру та літеру украінського алфавіту
                  </span>
                </div>
              }
            }
          </div>
          <div class="delivery-type__input-item">
            <app-input formControlName="apartment">Номер квартири </app-input>
            @if (
              getControl("apartment")?.invalid &&
              (getControl("apartment")?.touched ||
                getControl("apartment")?.dirty)
            ) {
              @if (getControl("apartment")?.errors?.["customError"]) {
                <div class="item__error">
                  <span> Має містити лише цифри </span>
                </div>
              }
            }
          </div>
        </div>
      }
    </ng-container>
  }
</div>
