<div class="main__container">
  <app-breadcrumb />
  <app-navigation [(productData)]="isFetching" [(currentPage)]="currentPage" />

  <div class="product-list__body">
    @if(productData()){ @for (product of productData()!.content; track
    product.id) {
    <app-product-card
      [itemInCart]="itemInCart(product)"
      [inputData]="product"
    ></app-product-card>
    } } @if(isFetching() ===true){
    <app-spinner></app-spinner>
    }
  </div>

  @if(availablePages() >1){
  <app-pagination
    [(productData)]="isFetching"
    [availablePages]="availablePages()"
    [(currentPage)]="currentPage"
  />
  }
</div>
