
<div class="product-card">
  <button
    [disabled]="!isAuth()"
    [class.active]="isAddedToFavorite()"
    (click)="onAddToFavorite(data().id)"
    class="icon-heart product-card__icon"
  ></button>
  <a routerLink="#" class="product-card__image">
    <img
      src="https://images-hop-oasis.s3.eu-central-1.amazonaws.com/beers/903May-the-stout.jpg"
      alt=""
    />
  </a>
  <div class="product-card__body">
    <a routerLink="#" class="product-card__title"
      >{{ data().beerName ?? data().ciderName ?? data().snackName }}
    </a>
    @if(data().options.length!==0 ){
    <div class="product-card__options">
      @for(option of data().options;track option.id){ @if(option.quantity){
      <button
        [class.active]="activeOptionId() === option.id"
        (click)="onChangeOption(option.id)"
        class="product-card__option"
        type="button"
      >
        {{ option.volume | updateMeasure : data().itemType }}
      </button>
      } }
    </div>
    }

    <div class="product-card__price">
      {{ currentPrice() ?? 0 | updatePrice }}
    </div>
    <div class="product-card__button-wrapper">
      <button
        (click)="onAddToShop(data().id, activeOptionId())"
        [disabled]="isNotAvailable()"
        [class.freez]="isNotAvailable()"
        class="product-card__add-shop-button"
      >
        У кошик
      </button>
    </div>
  </div>
</div>
