<div class="product-cards__container">
  <div class="products__cards">
    <div class="product__card card-product">
      <div class="card-product__image">
        <img src="product-cards/01.png" alt="dark beer" />
        <span class="icon-heart"></span>
      </div>
      <div class="card-product__body">
        <h4 class="card-product__title">
          <a href="#" class="card-product__link-title"
            >Пиво темне з фруктовими нотками English IPA, 6%
          </a>
        </h4>

        <div class="card-product__actions">
          <span>0,33 л</span>
          <span>0,5 л</span>
        </div>

        <div class="card-product__price"><span>70</span> грн.</div>
        <div class="card-product__cart">
          <a href="#" class="card-product__cart-button">У кошик</a>
        </div>
      </div>
    </div>
  </div>
</div>
