// .products {
//   &__cards {
//     max-width: 90rem;
//     margin: 0 auto;
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//   }
// }
// .product {
//   &__card {
//     border-radius: 0.25rem;
//     box-shadow: 8px 8px 16px 0 rgba(19, 19, 19, 0.2);
//   }
// }
// .card-product {
//   &__image {
//     text-align: center;

//     img {
//       max-width: 100%;
//       text-align: center;
//     }
//     position: relative;
//     span {
//       cursor: pointer;
//       position: absolute;
//       right: 1rem;
//       top: 1rem;
//       width: 1.5rem;
//       height: 1.5rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       &::before {
//         font-size: 1.125rem;
//         transition: color 0.3s ease 0s;
//       }
//       @media (any-hover: hover) {
//         &:hover {
//           &::before {
//             color: #ff9a00;
//           }
//         }
//       }
//     }
//   }

//   &__body {
//     padding: 1rem 1.6875rem; /* 27/16 */
//   }

//   &__title {
//     &:not(:last-child) {
//       margin-bottom: 0.5rem;
//     }
//   }

//   &__link-title {
//     color: #292929;
//     font-weight: 600;
//     @media (any-hover: hover) {
//       &:hover {
//         text-decoration: underline;
//       }
//     }
//   }

//   &__actions {
//     display: flex;
//     flex-wrap: wrap;
//     column-gap: 1rem;
//     span {
//       color: #131313;
//       font-weight: 500;
//       font-size: 0.875rem;
//       padding: 0.25rem 0.5rem;
//       border: 0.0625rem solid #131313;
//       border-radius: 0.25rem;
//       cursor: pointer;
//       transition: box-shadow 0.3s ease 0s;
//       @media (any-hover: hover) {
//         &:hover {
//           box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
//         }
//       }
//     }
//     &:not(:last-child) {
//       margin-bottom: 0.5rem;
//     }
//   }

//   &__price {
//     font-size: 1.5rem;
//     color: #ff9a00;
//     font-weight: 500;
//     &:not(:last-child) {
//       margin-bottom: 1rem;
//     }
//   }
//   &__cart {
//     text-align: center;
//   }
//   &__cart-button {
//     display: inline-block;
//     padding: 1rem 2.5rem;
//     font-size: 1.25rem;
//     background-color: #292929;
//     color: #fff;
//     border-radius: 0.25rem;
//     transition: background-color 0.3s ease 0s;
//     @media (any-hover: hover) {
//       &:hover {
//         background-color: #292929d3;
//       }
//     }
//   }
// }
// .button {
// }

.product-card {
  height: 100%;
  border-radius: 4px;
  box-shadow: 8px 8px 16px 0px rgba(19, 19, 19, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  &__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &.active {
      color: rgb(255, 154, 0);
    }
  }

  &__image {
    & img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      aspect-ratio: 302/340;
    }
  }

  &__body {
    flex-grow: 1;
    padding: 1rem 2.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  &__title {
    color: rgb(41, 41, 41);
    font-weight: 600;
    line-height: 125%;
    flex-grow: 1;
    height: auto;
  }

  &__options {
    display: flex;
    gap: 1rem;
  }

  &__option {
    border: 1px solid rgb(105, 105, 105);
    border-radius: 4px;
    padding: 0.2rem 0.3rem;
    font-weight: 500;
    line-height: 105%;
    color: rgb(105, 105, 105);
    font-size: 0.875rem;
    &.active {
      color: rgb(19, 19, 19);
      border-color: rgb(19, 19, 19);
    }
  }

  &__price {
    color: rgb(255, 154, 0);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 140%;
  }
  &__button-wrapper {
    display: flex;
    justify-content: center;
  }
  &__add-shop-button {
    border-radius: 4px;
    background: rgb(41, 41, 41);
    color: rgb(255, 251, 244);
    display: inline-block;
    padding: 1rem 2.5rem;
    letter-spacing: -4%;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      background: rgb(255, 154, 0);
    }
    &:active {
      background: rgb(232, 140, 0);
    }
  }
}
