<div class="product-cards__container">
  <div class="products__cards">
    <div class="product__card card-product">
      <a href="#" class="card-product__image">
        <img
          [src]="myProduct.image"
          alt="{{ myProduct.title }}"
          class="card-product__img"
        />
        <span class="icon-heart"></span>
      </a>
      <div class="card-product__body">
        <h4 class="card-product__title">
          <a href="#" class="card-product__link-title"
            >{{ myProduct.title }}
          </a>
        </h4>
        <div class="card-product__volumes">
          <button>{{ myProduct.volumes1 }}</button>
          <button>{{ myProduct.volumes2 }}</button>
        </div>

        <div class="card-product__price">
          <span>{{ myProduct.price }}</span> грн.
        </div>
        <div class="card-product__cart">
          <a
            href="#"
            *ngIf="myProduct.stock; else outOfStock"
            class="card-product__cart-button"
            >У кошик</a
          >
          <ng-template #outOfStock>
            <p class="out-of-stock">Немає в наявності</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
