.cart {
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &__amount-info {
    margin-bottom: 1rem;
    text-align: end;
    font-size: 1.25rem;
    font-weight: 500;
    padding-right: 4rem;
  }
}
