<div class="cart-dialog-wrapper">
  <p-dialog
    [(visible)]="isOpenedSignal"
    [modal]="true"
    [closable]="true"
    [dismissableMask]="true"
    [draggable]="false"
    [style]="{ maxWidth: '1080px', width: '100%' }"
  >
    <ng-template pTemplate="header">
      <h3 class="cart__title">Кошик</h3>
    </ng-template>
    <ng-template pTemplate="content">
      @if(cartStore.totalItems() > 0) {
      <app-cart-content></app-cart-content>
      } @else {
      <app-empty-cart></app-empty-cart>
      }
    </ng-template>
    <ng-template pTemplate="footer">
      <app-cart-special-offer></app-cart-special-offer>
    </ng-template>
  </p-dialog>
</div>
