<section class="filter">
  <app-button [icon]="icon" (clicked)="clicked()">
    {{ isOpen ? "Сховати" : "Показати" }} фільтри</app-button
  >
  <div class="filter__actions" [class.filter__open]="isOpen">
    <div class="slide-toggle">
      <app-slide-toggle>
        <div class="slide-toggle__label">В наявності ({{ inStock() }})</div>
      </app-slide-toggle>
    </div>
    <div class="filter-items">
      <app-filter-price />
    </div>
    <div class="filter-items">
      <app-filter-raiting />
    </div>
    <div class="filter-items">
      <app-filter-volume />
    </div>
  </div>
</section>
