@use "../../../styles/utils/rem";
@use "../../../styles/global/colors" as c;

.title {
  &__h3 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: rem.rem(24);
    line-height: 100%;
    letter-spacing: 0%;
  }

  &__h5 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: rem.rem(16);
    line-height: 100%;
    letter-spacing: 0%;
  }

  &__h6 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: rem.rem(14);
    line-height: 100%;
    letter-spacing: 0%;
  }

  &__h7 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: rem.rem(12);
    line-height: 100%;
    letter-spacing: 0%;
    color: c.$black-100;
  }

  &__fw-400 {
    font-weight: 400;
  }
}

.card {
  border: 1px solid c.$black-50;
  border-radius: 4px;
  padding: rem.rem(20);
  width: min(50%, rem.rem(455));

  &__body {
    max-width: rem.rem(395);
    padding-top: rem.rem(20);
    display: flex;
    flex-direction: column;
    gap: rem.rem(14);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: rem.rem(10);
  }

  &__actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: rem.rem(20);

    &__wrap {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: rem.rem(30);
    }

    &__btn {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      gap: rem.rem(10);
      padding: rem.rem(5) rem.rem(10);
      border: 1px solid c.$black-100;
      border-radius: 4px;
      color: c.$black-100;
      cursor: pointer;

      &:hover {
        border: 1px solid c.$accent-600;
        color: c.$accent-600;
      }

      img {
        width: rem.rem(15);
      }
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.order {
  &__items {
    padding-top: rem.rem(40);
    h3 {
      padding-bottom: rem.rem(40);
    }
  }
  &__image {
    img {
      width: rem.rem(103);
      width: rem.rem(104);
    }
  }

  &__total {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: rem.rem(10);
  }
}
