@use "../../../styles/global/colors" as c;
@use "../../../styles/utils/rem";

.h3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: rem.rem(24);
  line-height: 100%;
  letter-spacing: 0%;
  color: c.$grey-500;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: rem.rem(36);
  padding-bottom: rem.rem(192);
  max-width: rem.rem(611);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem.rem(210);
  height: rem.rem(48);
  border: 0.5px solid c.$grey-500;
  border-radius: 4px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: rem.rem(16);
  line-height: 100%;
  letter-spacing: 0%;

  &__space {
    margin-left: rem.rem(399);
  }

  &__bg__white {
    color: c.$grey-500;
  }

  &:hover {
    border: 0.5px solid c.$accent-600;
    color: c.$accent-600;
  }

  cursor: pointer;
}

.text__bold__blue {
  font-weight: 900;
  color: c.$text-accent;
}
