<div class="footer__container">
  <div class="footer__logo-container">
    <a routerLink="/home">
      <img src="./header-logo.png" alt="Brand name logo" class="footer__logo"
    /></a>
  </div>
  <div class="footer__contacts">
    <h3 class="footer__title">Контакти</h3>
    <a href="tel:+380666719366" class="footer__contact">+380666719366</a>
    <a href="tel:+380666719366" class="footer__contact">+380666719366</a>
    <a href="tel:+380666719366" class="footer__contact">+380666719366</a>
  </div>
  <div class="footer__addresses">
    <h3 class="footer__title">Де нас знайти</h3>
    <p class="footer__address">м.Київ, вул. Пушкіна, 2-4/7</p>
    <p class="footer__address">м.Київ, вул. Пушкіна, 2-4/7</p>
    <p class="footer__address">м.Київ, вул. Пушкіна, 2-4/7</p>
  </div>
  <div class="footer__navigation">
    <h3 class="footer__title">Магазин</h3>
    <nav class="footer__menu menu">
      <a
        routerLink="/shop/all-products"
        [queryParams]="{ page: 0 }"
        class="menu__link"
        >Всі товари</a
      >
      <a routerLink="/shop/beers" [queryParams]="{ page: 0 }" class="menu__link"
        >Пиво</a
      >
      <a
        routerLink="/shop/ciders"
        [queryParams]="{ page: 0 }"
        class="menu__link"
        >Сидр</a
      >
      <a
        routerLink="/shop/snacks"
        [queryParams]="{ page: 0 }"
        class="menu__link"
        >Снеки</a
      >
    </nav>
  </div>
</div>
