.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}
.header {
}
.main {
  flex-grow: 1;
  display: flex;
  
}

.footer {
  color: rgb(255, 251, 244);
  background-color: rgb(19, 19, 19);
}
