<app-modal [typeOfForm]="'register'">
  <form [formGroup]="form" (ngSubmit)="onLogin()" name="login" class="form">
    <div class="form__input-wrapper">
      <label for="firstName" class="form__label">Ім'я</label>
      <input
        formControlName="firstName"
        type="text"
        name="firstName"
        id="firstName"
        class="form__input"
      />
      @if(form.controls.firstName.invalid && form.controls.firstName.touched ){
      @if(form.controls.firstName.errors?.['required']){
      <p class="input-error">Введіть своє ім'я</p>
      }@else if(form.controls.firstName.errors?.['pattern']){
      <p class="input-error">Введіть своє ім'я на кирилиці</p>
      } @else if(form.controls.firstName.errors?.['maxlength']){
      <p class="input-error">Поле повинно містити не більше 15 символів</p>
      } }
    </div>

    <div class="form__input-wrapper">
      <label for="lastName" class="form__label">Прізвище</label>
      <input
        formControlName="lastName"
        type="text"
        name="lastName"
        id="lastName"
        class="form__input"
      />
      @if(form.controls.firstName.invalid && form.controls.firstName.touched ){
      @if(form.controls.firstName.errors?.['required']){
      <p class="input-error">Введіть своє прізвище</p>
      }@else if(form.controls.firstName.errors?.['pattern']){
      <p class="input-error">Введіть своє прізвище на кирилиці</p>
      } @else if(form.controls.firstName.errors?.['maxlength']){
      <p class="input-error">Поле повинно містити не більше 15 символів</p>
      } }
    </div>

    <div class="form__input-wrapper">
      <label for="email" class="form__label">Email</label>
      <input
        formControlName="email"
        type="email"
        name="email"
        id="email"
        class="form__input"
      />
      @if(form.controls.email.invalid && form.controls.email.touched ){
      @if(form.controls.email.errors?.['required']){
      <p class="input-error">Будь ласка введіть свій email</p>
      }@else {
      <p class="input-error">Введіть коректний email</p>
      } }
    </div>
    <div class="form__input-wrapper">
      <label for="password" class="form__label">Пароль</label>
      <div class="form__password-wrapper">
        @if(isShowedPassword()){
        <button
          type="button"
          (click)="onHidePassword()"
          class="button icon-showed-eye"
        ></button>
        }@else {
        <button
          type="button"
          (click)="onShowPassword()"
          class="button icon-hide-eye"
        ></button>
        }

        <input
          formControlName="password"
          name="password"
          id="password"
          [type]="isShowedPassword() ? 'text' : 'password'"
          class="form__input"
        />
      </div>
      @if(form.controls.password.invalid && form.controls.password.touched ){
      @if(form.controls.password.errors?.['required']){
      <p class="input-error">Будь ласка введіть свій пароль</p>
      }@else if(form.controls.password.errors?.['minlength']) {
      <p class="input-error">Пароль повинен містити мінімум 8 символів</p>
      }@else if(form.controls.password.errors?.['pattern']){
      <p class="input-error">
        Пароль повинен містити щонайменше одну велику літеру та одну цифру
      </p>
      } }
    </div>
    <div class="form__main-button-wrapper">
      <button [disabled]="form.invalid" type="submit" class="form__button">
        Зареєструватися
      </button>
    </div>
  </form>
</app-modal>
