<section class="team-recommendations">
  <div class="team-recommendations__container">
    <h2 class="team-recommendations__title">Пропозиції від нашої команди</h2>

    <div *ngIf="loading">Завантаження...</div>
    <div *ngIf="error">Сталася помилка при завантаженні. Спробуйте ще раз.</div>
    <div
      *ngIf="!loading && !error && recommendations.length === 0"
      class="no-recommendations"
    >
      Ми готуємо нові рекомендації від нашої команди, повертайтеся згодом!
    </div>

    <div
      class="cards-grid"
      *ngIf="recommendations.length > 0"
      [ngClass]="{
        'grid-1': recommendations.length === 1,
        'grid-2': recommendations.length === 2,
        'grid-3': recommendations.length === 3,
      }"
    >
      <app-recommendation-card
        *ngFor="let rec of recommendations; let i = index"
        [photo]="rec.photo"
        [name]="rec.name"
        [position]="rec.position"
        [comment]="rec.comment"
        [productLink]="rec.productLink"
        [ngClass]="{
          horizontal: recommendations.length === 3 && i < 2,
          vertical:
            recommendations.length === 2 ||
            (recommendations.length === 3 && i === 2) ||
            recommendations.length > 3,
          single: recommendations.length === 1
        }"
      >
      </app-recommendation-card>
    </div>
  </div>
</section>
