.team-recommendations {
  &__title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 40px;
  }

  .cards-grid {
    display: flex;
    justify-content: center;
    width: 1440px;
    max-height: 800px;
    flex-wrap: wrap;
    gap: 54px;
  }

  .grid-3 {
    flex-direction: column;
  }
}
