.product-card {
  height: 100%;
  border-radius: 4px;
  box-shadow: 8px 8px 16px 0px rgba(19, 19, 19, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.2s ease;
  &:hover .product-card__image-box img {
    transform: scale(1.1);
  }
  &__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 1;
    &.active {
      color: rgb(255, 154, 0);
    }
  }

  &__image {
    overflow: hidden;
    & img {
      transition: all 0.2s ease;

      object-fit: cover;
      object-position: center;
      width: 100%;
      aspect-ratio: 270/302;
    }
  }

  &__body {
    flex-grow: 1;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }
  &__options-wrapper {
    justify-content: flex-end;
    height: 100%;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 4px;
  }
  &__title {
    color: rgb(41, 41, 41);
    font-weight: 600;
    line-height: 125%;
    flex-grow: 1;
    height: auto;
    padding: 0 1rem;
  }

  &__options {
    display: flex;
    gap: 1rem;
  }

  &__option {
    border: 1px solid rgb(105, 105, 105);
    border-radius: 4px;
    padding: 0.2rem 0.3rem;
    font-weight: 500;
    line-height: 105%;
    color: rgb(105, 105, 105);
    font-size: 0.875rem;

    &:disabled {
      color: rgb(179, 179, 178);
      border-color: rgb(179, 179, 178);
    }
    &.active {
      color: #fff;
      background-color: rgb(232, 140, 0);
      border-color: rgb(232, 140, 0);
    }
  }

  &__price {
    color: rgb(255, 154, 0);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 140%;
  }
  &__button-wrapper {
    min-height: 36px;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
  }
  &__add-shop-button {
    overflow: hidden;
    position: relative;
    &.freez {
      background-color: #999;
      transition: none;
      &:hover,
      &:active {
        background-color: #999;
      }
    }
    &.incart {
      background: rgb(232, 140, 0);
    }
    &.available {
      padding: 0 1.6rem;
    }
    height: 100%;
    border-radius: 4px;
    background: rgb(41, 41, 41);
    color: rgb(255, 251, 244);
    display: inline-block;
    padding: 0 1rem;
    letter-spacing: -4%;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      background: rgb(255, 154, 0);
    }
    &:active {
      background: rgb(77, 47, 2);
    }
  }
}
.icon-shopping-cart {
  font-size: 1.8rem;
}

.amount-wrapper {
  border: 1px solid rgb(105, 105, 105);
  border-radius: 4px;
  display: flex;
  align-items: center;

  &__button {
    position: relative;
    padding: 1.1rem;
    &:disabled {
      &::before,
      &::after {
        background-color: rgb(179, 179, 178);
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -6px;
      width: 12px;
      background-color: rgb(255, 154, 0);
      height: 2px;
    }

    &.increase {
      border-left: 1px solid rgb(105, 105, 105);
      &:disabled::after {
        background-color: rgb(179, 179, 178);
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        background-color: rgb(255, 154, 0);
        height: 2px;
        transform: rotate(90deg);
        margin-top: -1px;
        margin-left: -6px;
      }
    }
    &.decrease {
      font-size: 2rem;
      border-right: 1px solid rgb(105, 105, 105);
    }
  }
  &__quantity {
    display: inline;
    height: 100%;
    width: 56px;
    text-align: center;
    color: rgb(41, 41, 41);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0%;
  }
}
// .loader {
//   width: 25px;
//   aspect-ratio: 1;
//   border-radius: 50%;
//   border: 8px solid #0000;
//   border-right-color: #ffa50097;
//   animation: l24 1s infinite linear;
// }
