.dialog {
  overflow: hidden;
  position: fixed;

  z-index: 300;
  &.visible {
    background-color: #8181817c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    overflow-y: auto;
    margin: 0 auto;
    max-width: 67.5rem;
    flex-grow: 1;
    min-height: 80vh;
    max-height: 90vh;
    border-radius: 4px;
    background: rgb(250, 250, 250);
  }
}

.cart {
  &__head {
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(189, 189, 189);
  }

  &__title {
    color: rgb(41, 41, 41);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.9rem;
    letter-spacing: 0%;
  }

  &__button-close {
    transform: rotate(45deg);
    font-size: 1.7rem;
    color: rgb(105, 105, 105);
    cursor: pointer;
    &:hover,
    &:active {
      color: #000;
    }
  }
}
.icon-add-plus {
}

.message__auth {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  z-index: 100;
  transform: translate(-50%);
  background: #fff;
}
