@use "../../../styles/global/colors" as c;
@use "../../../styles/utils/rem";

.sorting {
  display: flex;
  align-items: center;
  gap: rem.rem(28);
  width: rem.rem(370);
  height: rem.rem(51);
  overflow: hidden;

  &__text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: rem.rem(20);
    line-height: 100%;
    letter-spacing: 0%;
    color: c.$black-500;
  }
}

.box-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  cursor: pointer;

  &__text {
    @extend .sorting__text;
    font-weight: 600;
    font-size: rem.rem(16);
    color: c.$black-500;

    &:hover {
      color: c.$accent-500;
    }
  }
}

.disabled {
  color: c.$black-100;
  cursor: not-allowed;

  &:hover {
    color: c.$black-100;
  }
}
