<dialog open class="dialog" #dialogWrapper (click)="onCloseModalNext($event)">
  <div class="dialog__wrapper">
    <div class="dialog__image-wrapper">
      <img src="./register.png" alt="#" class="dialog__image" />
    </div>
    <button
      (click)="onCloseModal()"
      type="button"
      class="dialog__button-close-modal icon-add-plus"
    ></button>
    <div class="dialog__body">
      <div class="dialog__head">
        <img src="./header-logo.png" alt="Logo" class="dialog__logo" />
        <h3 class="gialog__title">Увійдіть або Зареєструйтеся</h3>
      </div>
      <div class="dialog__form-wrapper form-wrapper">
        @if(isActiveSpinner()){
        <app-spinner></app-spinner>
        }

        <div class="form__head">
          <h2 class="form__title">Вхід</h2>
          @if(typeOfForm()==='login'){
          <p class="form__register">
            Новий користувач?
            <button
              (click)="onOpenRegister()"
              type="button"
              class="form__switch-register"
            >
              Зареєструватися
            </button>
          </p>
          }@else {
          <p class="form__register">
            Ви вже маєте обліковий запис?
            <button
              (click)="onOpenLogin()"
              type="button"
              class="form__switch-register"
            >
              Увійти
            </button>
          </p>
          }
        </div>
        <ng-content></ng-content>
        <div class="form__separated-line">
          <span class="form__line"></span>
          <span class="form__or">або</span>
        </div>
        <a routerLink="#" class="form__google-link">
          <img src="./google.png" alt="google logo" />
          <span>Увійти з данними Google</span>
        </a>
      </div>
    </div>
  </div>
</dialog>
