@forward "./app/styles/global/";
@use "./app/styles/global/colors" as c;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$hop_fr_angular-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($hop_fr_angular-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "icomoon";
  src: url("../public/fonts/icomoon.eot?9ik3d9");
  src: url("../public/fonts/icomoon.eot?9ik3d9#iefix")
      format("embedded-opentype"),
    url("../public/fonts/icomoon.ttf?9ik3d9") format("truetype"),
    url("../public/fonts/icomoon.woff?9ik3d9") format("woff"),
    url("../public/fonts/icomoon.svg?9ik3d9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-plus:before {
  content: "\e900";
}
.icon-arrow-down-sm:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up-sm:before {
  content: "\e904";
}
.icon-checkbox-checked:before {
  content: "\e905";
}
.icon-checkbox-unchecked:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-hide-eye:before {
  content: "\e90a";
}
.icon-menu-alt:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-radio-fill:before {
  content: "\e90d";
}
.icon-radio-unchecked:before {
  content: "\e90e";
}
.icon-remove-minus:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-shopping-cart:before {
  content: "\e911";
}
.icon-showed-eye:before {
  content: "\e912";
}
.icon-small-arrow-left:before {
  content: "\e913";
}
.icon-small-arrow-right:before {
  content: "\e914";
}
.icon-star:before {
  content: "\e915";
}
.icon-tabler-point-filled:before {
  content: "\e916";
}
.icon-trash-full:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,italic,500italic,600italic&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
  display: inline-block;
}
body {
  line-height: 1;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: initial;
}
html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: auto;
}
[class*="__container"] {
  max-width: 81.25rem;
  margin: 0 auto;

  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.wrapper {
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: c.$white-50;
}
