:host {
  min-height: 100%;
  flex-grow: 1;
}

.main__container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-1 {
  padding-top: calc(72 * 0.063rem);
  padding-bottom: calc(72 * 0.063rem);
}

.home-item {
  display: flex;
}

.home-item {
  display: flex;
}
