<div class="page-2__wrrapper page-2__container">
  <div class="page-2__title">
    <h2>Про броварню</h2>
  </div>
  <div class="page-2__image">
    <img
      ngSrc="./about-brewery.png"
      width="1280"
      height="500"
      priority
      priority
      loading="lazy"
      alt="about brewery"
    />
  </div>
  <div class="page-2__text gap-[24px] grid sm:grid-cols-1 lg:grid-cols-2">
    <div class="page-2__text__item">
      <h4>
        Хмільна оаза - це броварня, яка створена для справжніх поціновувачів
        крафтового пива. У цьому закладі ви знайдете широкий вибір унікальних
        сортів пива, виготовлених з використанням найкращих інгредієнтів та за
        особливими рецептами.
      </h4>
    </div>
    <div class="page-2__text__item">
      <h4>
        Атмосфера Хмільної оази сприяє відпочинку та насолоді пивом, а також
        можливість спробувати нові смаки і відчути справжню майстерність
        пивоварів. Це ідеальне місце для тих, хто цінує якість, смак і атмосферу
        справжньої пивної культури.
      </h4>
    </div>
    <div class="">
      <button class="btn__page-2" (click)="redirectToBrewery()">
        Дізнатись більше
      </button>
    </div>
  </div>
</div>
