<div class="header__container">
  <div class="header__logo-container">
    <a routerLink="/home">
      <img src="./header-logo.png" alt="Brand name logo" class="header__logo"
    /></a>
  </div>
  <nav class="header__menu menu" [class.search__focus]="searchFocus">
    <a routerLinkActive="active" routerLink="#" class="menu__link"
      >Про броварню</a
    >
    <a routerLinkActive="active" routerLink="/shop" class="menu__link"
      >Магазин</a
    >
    <a routerLinkActive="active" routerLink="#" class="menu__link"
      >Доставка і оплата</a
    >
  </nav>

  <div class="search">
    <app-search-bar (searchOnFocus)="searchOnFocus($event)" />
  </div>

  <div class="header__actions">
    <a
      [routerLink]="authApiService.isAuth() ? '/my_cabinet/favorite' : null"
      class="header__actions-link"
      ><span
        class="header__icon icon icon-heart"
        [class.disable]="!authApiService.isAuth()"
      ></span>
    </a>
    <a
      [routerLink]="authApiService.isAuth() ? '/my_cabinet' : null"
      (click)="onOpenModal(authApiService.isAuth())"
      routerLinkActive="active"
      class="header__actions-link"
      routerLinkActive="active"
      ><span class="header__icon icon icon-user"></span
    ></a>
    <button
      type="button"
      (click)="openCartModal()"
      class="header__actions-link"
    >
      <span class="header__icon icon icon-shopping-cart">
        @if(cartApiService.amountOfItems()){
        <span
          class="cart-amount"
          [class.big]="cartApiService.amountOfItems() > 9"
          >{{ cartApiService.amountOfItems() }}</span
        >
        }
      </span>
    </button>
  </div>
</div>
