<div class="sort-btn" [class.disabled]="disabled() === 'all-products'">
  <app-button
    (clicked)="onClicked()"
    [icon]="'./svg/arrows-up-down.svg'"
    [disabled]="disabled() === 'all-products'"
  >
    {{ selectedOption() }}
    @if(isActive() && disabled() !== 'all-products') {

    <ul class="sort__items">
      @for(opt of defaultOptions(); track $index) {
      <li class="sort__item" (click)="setSelect($index)">
        {{ opt.text }}
      </li>
      }
    </ul>
    }
  </app-button>
</div>
