<section class="orders">
  <div class="orders__subtitle">
    <h3>Мої замовлення</h3>
    <div class="orders__actions">
      <app-button (clicked)="sortByPrice()">
        <mat-icon>loyalty</mat-icon> За ціною
        <span
          [class]="
            priceBy() === 'desc' ? 'icon-chevron-down' : 'icon-chevron-up'
          "
        >
        </span>
      </app-button>

      <app-custom-datepicker (dateRange)="dateRange($event)" />
    </div>
  </div>
  <div class="orders__body">
    <app-order-items />
  </div>
  @if (orderStore.loading()) {
    <div class="loading">
      <app-spinner />
    </div>
  }
</section>
