<section class="orders">
  <h2>Замовлення</h2>
  <div class="orders__filtering">
    <div class="orders__search"></div>
    <div class="orders__sorting"></div>
  </div>
  <div class="orders__subtitle">
    <h3>Мої замовлення</h3>
    <div class="orders__actions">
      <app-button (clicked)="sortByPrice()">
        <mat-icon>loyalty</mat-icon> За ціною</app-button
      >

      <app-custom-datepicker (dateRange)="dateRange($event)" />
    </div>
  </div>
  <div class="orders__body">
    <app-order-items />
  </div>
</section>
