@use "../../../styles/utils/rem";
@use "../../../styles/global/colors" as c;

.orders {
  display: flex;
  flex-direction: column;
  gap: rem.rem(40);
  padding-bottom: rem.rem(100);

  &__subtitle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: rem.rem(24);
    height: rem.rem(44);
  }
}

h2 {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

h3 {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
